<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.css"
          th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" href="../../static/bootstrap/font-awesome/css/font-awesome.min.css"
          th:href="@{/bootstrap/font-awesome/css/font-awesome.min.css}"/>

    <title>Home</title>
</head>
<body>
<main>
    <div class="container" sec:authorize="isAuthenticated()">
        <div class="col-6 page-container" id="changePasswordCont">
            <h2 class="center-text">Смяна на паролата</h2>
            <form method="post" th:object="${userPasswordChangeModel}">
                <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-danger'">
                    <label class="form-control-label" for="inputOldPassword">Старата парола</label>
                    <input type="password" class="form-control form-control-danger password-validate invalid-input" id="inputOldPassword" th:field="${userPasswordChangeModel.oldPassword}"/>
                    <div class="form-control-feedback" th:each="error : ${#fields.errors('oldPassword')}" th:text="#{${error}}">Sorry, that username's taken. Try another!</div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
                    <label class="form-control-label" for="inputPassword">Нова парола</label>
                    <input type="password" class="form-control form-control-danger password-validate invalid-input" id="inputPassword" th:field="${userPasswordChangeModel.password}"/>
                    <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="#{${error}}">Sorry, that password is incorrect!</div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('global')} ? 'has-danger'">
                    <label class="form-control-label" for="inputConfirmPassword">Повтори новата парола</label>
                    <input type="password" class="form-control form-control-danger password-validate invalid-input" id="inputConfirmPassword" th:field="${userPasswordChangeModel.confirmPassword}"/>
                    <div class="form-control-feedback" th:each="error : ${#fields.errors('global')}" th:text="#{${error}}">Sorry, passwords are not matching!</div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" class="btn btn-success pickable" value="Запази новата парола"/>
            </form>

            <script th:src="@{/js/user/passwordChange.js}"></script>
        </div>
    </div>
</main>
</body>
</html>