<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.css"
          th:href="@{/css/custom.css}"/>
</head>
<body>
<main>
    <div class="container" sec:authorize="hasRole('ADMIN')">
        <h1 class="center-size" id="bu-main-label">Структорно звено</h1>
        <form class="center-size bu-bordered">
            <div class="row ub-row">
                <label class="form-control-label bu-main-unit bu-main-unit-label">Старше структорно звено :</label>
                <select class="form-control form-control-danger bu-main-unit" id="bu-main-unit" >
                    <option value="0">Няма старше звено</option>
                </select>
            </div>
            <div class="bu-bordered">
                <div class="row ub-row">
                    <label class="form-control-label bu-main-unit bu-main-unit-label">Име на структорното звено :</label>
                    <input type="text" class="form-control form-control-danger bu-main-unit" id="inputUnitName"/>
                </div>

                <fieldset class="row ub-row bu-bordered">
                    <legend class="ub-box-label">Началник</legend>
                    <label class="form-control-label bu-short-label">Длъжност :</label>
                    <input type="text" class="form-control form-control-danger bu-short" id="businessUnitNewBossPosition"/>
                    <label class="form-control-label bu-short-label">Служител :</label>
                    <select class="form-control form-control-danger bu-short bu-select employee-dropdown" id="businessUnitNewBossNameAndID">
                        <option value="0">Свободно</option>
                    </select>
                </fieldset>

                <fieldset class="row ub-row bu-bordered" id="ub-employee-box">
                    <legend class="ub-box-label">Служители</legend>

                </fieldset>

            </div>
        </form>
    </div>

    <script th:src="@{/js/businessUnit/editBusinessUnit.js}"></script>
</main>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>