<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css"
          th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" href="../static/css/timepicker.css"
          th:href="@{/css/timepicker.css}"/>
    <link rel="stylesheet" href="../static/bootstrap/font-awesome/css/font-awesome.min.css"
          th:href="@{/bootstrap/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/jquery/jquery-ui.min.css"
          th:href="@{/jquery/jquery-ui.min.css}"/>
    <link rel="stylesheet" href="../static/jquery/jquery-ui.theme.min.css"
          th:href="@{/jquery/jquery-ui.theme.min.css}"/>
    <link rel="stylesheet" href="../static/jquery/jquery-ui.structure.min.css"
          th:href="@{/jquery/jquery-ui.structure.min.css}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title}">OfficeM</title>
</head>
<body>
    <header th:replace="fragments/menus::menus"></header>

    <div class="container-fluid page-container">
        <main th:replace="~{${view} :: main}"></main>

        <!--<div th:replace="fragments/modals::modals"></div>-->
    </div>

    <footer th:replace="fragments/footer::footer"></footer>
</body>
</html>